h1 {
    color: blue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
    padding-left: 10px;
    width: 200px;
}

ul {
    list-style: square;
    background-color: aquamarine;
    resize: vertical;
}
li {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size: larger;
}

img {
    width: 25%;
    margin:auto;
    margin-left:200px;
}

div {
    margin-top: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    top: 50%;
    left: 50%;
    
    width: 600px;
}
.for_site{
    width: 600px;
    margin: auto;
}