h1 {
    color: blue;
}

ul {
    list-style: square;
    background-color: aquamarine;
    resize: vertical;
}
li {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size: larger;
}

img {
    width: 25%;
    height: auto;
}

div {
    margin-top: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    top: 50%;
    left: 50%;
    
    width: 600px;
}